@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// Variables
$primary-color: #0e6cff;
$secondary-color: #333;
$font-stack: "Red Hat Text", sans-serif;

// Base styles
body {
  font-family: $font-stack;
  background-color: white;
  color: $secondary-color;
  width: 100%;
  height: 100vh;
  line-height: 1.2;
  
  // Header styles
  header {
    background-color: $primary-color;
    color: white;
    padding: 1.5rem 0;
    text-align: center;
  }



// Main content styles
main {
  max-width: 600px;
  padding:  1.25rem;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  

  .content {
    display: flex;
    flex-direction: column;
    gap: 2rem;



  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: #f0f0f0;
    padding: 1rem;
    border-radius: 8px;

    h2 {
      background-color: white;
      text-align: center;
      text-transform: capitalize;
      width: 100%;
    }
    img {
        width: 150px;
        height: 150px;
    }

    a {
        text-decoration: none;
        color: white;

        &:hover {
            color: $primary-color;
        }
    }

    button {
      padding: 1rem 1.5rem;
      background-color: $primary-color;
      outline: none;
      border: 1px solid transparent;
      cursor: pointer;
      font-size: 1rem;
      font-weight: 600;
      border-radius: 12px;
    }

    p {
      font-size: 1.25rem;
    }

  }

  }


}

// Footer styles
footer {
  text-align: center;
  padding: 1.5rem 0;
  background-color: $secondary-color;
  color: white;
}

}

